* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fbeeac;
  color: #4d4d4d;
}

/* To click on the encapsulating BUTTON, not the
 i or svg tag inside  */
i,
svg {
  pointer-events: none;
}

/* Main CSS */

.sequencer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pad {
  transition: all 500ms ease;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  background: linear-gradient(145deg, #e2d69b, #ffffb8);
  box-shadow: 5px 5px 30px #d5ca92, -5px -5px 30px #ffffc6;
  width: 5rem;
  height: 5rem;
  border-radius: 20px;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad.active {
  background: linear-gradient(145deg, #7d9cdd, #95b9ff);
}

.snare-pad.active {
  background: linear-gradient(145deg, #e184d2, #ff9df9);
}

.hihat-pad.active {
  background: linear-gradient(145deg, #3dcda9, #49f4c9);
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  width: 90%;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: linear-gradient(145deg, #e2d69b, #ffffb8);
  box-shadow: 5px 5px 30px #d5ca92, -5px -5px 30px #ffffc6;
  color: #4d4d4d;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 500ms ease;
}

.mute.active {
  background: rgb(167, 167, 167);
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: linear-gradient(145deg, #e2d69b, #ffffb8);
  box-shadow: 5px 5px 30px #d5ca92, -5px -5px 30px #ffffc6;
  color: #4d4d4d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  color: #4d4d4d;
  cursor: pointer;
  background: linear-gradient(145deg, #e2d69b, #ffffb8);
  box-shadow: 5px 5px 30px #d5ca92, -5px -5px 30px #ffffc6;
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.1rem;
  -webkit-appearance: none;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  background: #4d4d4d;
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

/* Animations */
@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
