* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* To click on the encapsulating BUTTON, not the
 i or svg tag inside  */
i,
svg {
  pointer-events: none;
}

/* Main CSS */

.sequencer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(139, 173, 245);
}

.snare-pad {
  background: rgb(250, 147, 233);
}

.hihat-pad {
  background: rgb(85, 238, 200);
}

.kick-pad.active {
  background: rgb(45, 96, 207);
}

.snare-pad.active {
  background: rgb(207, 42, 180);
}

.hihat-pad.active {
  background: rgb(7, 173, 132);
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  width: 90%;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 500ms ease;
}

.pad {
  transition: all 500ms ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
